patches/
dist/
node_modules/
amplify/
build/
cypress/
.circleci/
.github/
.husky/
.nyc_output/
.vscode/

CODE_OF_CONDUCT.md
codecov.yml
cypress.config.ts
cypress.d.ts
LICENSE
README.md
renovate.json
sandbox.config.json
.gitignore
.all-contributorsrc